**
!docker/
!docker/**
!filemgr/
!workflow/
!resmgr/
!crawler/
!pcs/
!webapps/
!webapps/opsui/
!webapps/pcs-services/
!**/target/
!**/target/*-bin.tar.gz
!**/target/*.war
!**/src/
!**/src/main/
!**/src/main/resources/
!**/src/main/resources/etc/
!**/src/main/resources/etc/**
